.main {
    display: grid;
    grid-template:
        "clip-library video" minmax(auto, 350px)
        "tracks tracks" 1fr /
        minmax(550px, 1fr) auto;
}
.clip-library {
    grid-area: clip-library;
    height: 100%;
}
.video-player {
    grid-area: video;
}
.tracks-editing {
    grid-area: tracks;
}
.clip-library .clips-section {
    overflow-y: scroll;
}
.clips-section h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--tile-grey);
}
/* VIDEO */
.tracks-editing {
    display: grid;
    grid-template-columns: auto 1fr;

    overflow: hidden;
}
.track-links {
    overflow-y: scroll;
    padding: 10px 20px;
    position: relative;
    border-right: var(--border);
    margin-right: 10px;
}

.track-links h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.track-links ul li {
    padding: 5px 0;
}

.timeline {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 180px);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.timeline .time-section {
    padding: 3px 20px 3px 2px;
    background-color: #2c2c2c;
    border: 1px solid rgba(197, 197, 197, 0.616);
    border-bottom: 1px dashed rgba(197, 197, 197, 0.616);
}

.tracks {
    overflow: scroll;
}
.track-list {
    width: 100%;
}
.scrollable-section {
    width: 1800px;
}

.track {
    height: fit-content;
    margin: 5px 0;
    border-bottom: 1px solid #2c2c2c;
}

.track .video {
    height: 50px;
    border-bottom: 1px solid #4e4e4e;
    position: relative;
}
.track .audio {
    height: 30px;
    position: relative;
}
.track h3 {
    color: rgba(255, 255, 255, 0.527);
}
.clip-box {
    height: 100%;
    width: 100px;
    background-color: #61ff61ab;
    border: 1px #d1d1d185 solid;
    border-radius: 5px;

    position: absolute;
    top: 0;

    display: grid;
    grid-template-columns: 1fr auto;
}

.audio-box {
    background-image: url("../img/audiowave.png");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.t2.clip-box {
    left: 100px;
    width: 150px;
    background-color: #61ffeaab;
}
.t3.clip-box {
    left: 250px;
    width: 100px;
    background-color: #ff61f2ab;
}
.t4.clip-box {
    left: 350px;
    width: 150px;
    background-color: #ff6161ab;
}
.t5.clip-box {
    left: 500px;
    width: 150px;
    background-color: #f4ff61ab;
}

.clip-box:hover {
    background-color: rgba(124, 240, 255, 0.815);
}


.down-arrow-container {
    width: 10px;
    position: relative;
}

.down-arrow {
    width: 10px;
    height: 10px;

    fill: black;
    margin-right: 5px;
}

.fx-menu {
    width: 200px;
    background-color: #2a2e33;
    padding: 10px;
    border: 1px solid #00000020;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    visibility: hidden;
}

.fx-menu legend {
    font-weight: bold;
}

.fx-menu input {
    background: none;
    border: none;
}
.fx-menu select {
    background: rgba(245, 245, 245, 0.247);
}
.fx-menu button {
    padding: 5px;
    margin: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(92, 168, 255, 0.774);
    border: 1px solid black;
    border-radius: 5px;
}
.down-arrow-container:hover .fx-menu {
    visibility: visible;
}
