.logo {
    font-family: "Zen Dots", cursive;
    font-size: 3em;
    letter-spacing: 0.2em;
}

header {
    display: grid;
    align-items: center;
}

h2.active {
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.project-grid ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
}

.project-grid img,
.project-grid svg {
    object-fit: cover;
}

.project-grid ul .image-container {
    width: 100px;
    
}
