* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    color: white;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}
::-webkit-scrollbar {
    display: none;
}
.logo {
    font-family: "Zen Dots", cursive;
    font-size: 3em;
    letter-spacing: 0.2em;
}
:root {
    --tile-grey: #3b4148;
    --orange: #e69500;
    --border: 1px solid rgba(0, 0, 0, 0.329);
    --box-shadow: 1px 1px 5px 1px #0000005b, -1px -1px 5px 1px #0000005b;
}
h2 {
    font-size: 20px;
    color: var(--orange);
}
.left {
    transform: rotate(180deg);
}
input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: grey;
}
/* .checkbox {
    opacity: 0;
}
.custom-checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 5px;
} */
section:not(.clip-library) {
    border: var(--border);
    box-shadow: -1px 1px 5px 2px rgba(107, 107, 107, 0.267);
    padding: 10px;
}
.pop-out {
    box-shadow: var(--box-shadow);
}

.pad-md {
    padding: 10px;
}

.pad-lg {
    padding: 20px;
}

.page-padding {
    padding: 10px;
}
body {
    background-color: #3b4148;
    color: white;
}

main {
    display: grid;
    grid-template:
        "clip-library video" minmax(450px, 1fr)
        "clip-library meta" 1fr /
        minmax(550px, 1fr) auto;
    gap: 10px;
    padding: 10px;
    height: calc(100vh - 75px);
}

.clip-library {
    grid-area: clip-library;
}

.video {
    grid-area: video;
}
.meta {
    grid-area: meta;
}

/* TOP NAV */
.project-complete {
    position: absolute;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}

.project-complete svg {
    fill: white;
    transform: rotate(90deg);
    width: 20px;
}
.top-nav {
    display: grid;
    place-items: center;

    padding-top: 20px;

    background-color: #343a3f;
}
.top-nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.top-nav ul li {
    border-radius: 10px 10px 0 0;

    display: grid;
    place-items: center;

    margin: 0 5px;
}
.top-nav ul li a {
    padding: 10px;
    color: white;
}
.top-nav .active {
    background-color: #3b4148;
}

.top-nav .active a {
    color: var(--orange);
}

/* CLIP LIBRARY */
.clip-library {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    height: calc(100vh - 87px);
}
.clip-library form {
    border-right: var(--border);
    padding: 10px;
    overflow-y: scroll;
    position: relative;
}
.clip-library form label {
    display: inline-block;
}

.side-bar {
    display: grid;
    grid-template-rows: 1fr auto;
}

.clip-library button {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 100px;
    background: -webkit-linear-gradient(#00a5e6, #00709c);
    border: none;
}

.clip-library button svg {
    width: 20px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.clip-library .clips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;

    padding: 10px;

    overflow-y: scroll;
    min-width: 200px;
}

.clip-library .item {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.397);
}

.clip-library .filters {
    display: grid;
    place-content: start;
    gap: 10px;
}
.clip-library .filters .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

/* VIDEO SECTION */
video {
    width: 100%;
    height: 100%;
}
.video-container {
    display: grid;
    place-content: center;
    min-width: 400px;
    max-width: fit-content;
}

.bar-below {
    display: grid;
    place-items: center;
    position: relative;
    border-bottom: var(--border);
}
.time {
    position: absolute;
    left: 0;
}
.buttons-container {
    display: grid;
    place-items: center;
}

.bar-below .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    height: 50px;
    width: 50%;
}

.bar-below .buttons svg {
    width: 20px;
    height: 20px;
    fill: white;
}

/* META DATA */
.meta {
    overflow-y: scroll;
}

/* ANIMATIONS */
.clip-library .item:hover {
    background-color: #5f5f5fb2;
    transition: 0.1s;
}
.clip-library .item:focus {
    background-color: #00a000b2;
}

.clip-library button:hover {
    transform: scale(1.1);
}
.clip-library button:active {
    background: -webkit-linear-gradient(#00709c, #00a5e6);
    transform: scale(1);
}

.buttons svg:hover {
    transform: scale(1.1);
}
.buttons svg:active {
    transform: scale(1);
}
.buttons svg.left:hover {
    transform: rotate(180deg) scale(1.1);
}
